input {
{% for file in log_files %}
  file {
{% if file is mapping %}
{% for key,val in file.items() %}
    {{ key }} => {{ val }}
{% endfor %}
{% else %}
    path => "{{ file }}"
{% endif %}
  }
{% endfor %}
}

{% if log_filters is defined and log_filters|length > 0 %}
{% if custom_log_filters is defined and custom_log_filters|length > 0 %}
{% set log_filters = log_filters + custom_log_filters %}
{% endif %}
filter {
  {% for filter in log_filters %}
  if {{ filter.type }} in [tags] {
    {{ filter.name }} {
{% for key,val in filter.configuration.items() %}
      {{ key }} => {{ val }}
{% endfor %}
    }
  }
{% endfor %}
}
{% endif %}

output {
  monasca_log_api {
    monasca_log_api_url => "{{ monasca_log_api_url }}"
{% if monasca_log_api_insecure is defined %}
    monasca_log_api_insecure => {{ monasca_log_api_insecure|lower }}
{% endif %}
    keystone_api_url => "{{ keystone_url }}"
{% if keystone_api_insecure is defined %}
    keystone_api_insecure => {{ keystone_api_insecure|lower }}
{% endif %}
    project_name => "{{ monasca_log_agent_project }}"
    username => "{{ monasca_log_agent_user }}"
    password => "{{ monasca_log_agent_password }}"
    user_domain_name => "{{ user_domain_name }}"
    project_domain_name => "{{ project_domain_name }}"
    dimensions => ["hostname:{{ ansible_hostname }}"{% if global_dims is defined %}{% for dim in global_dims %}, "{{ dim }}"{% endfor %}{% endif %}]
  }
}
