description "monasca-log-agent"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

exec sudo {{logstash_agent_dest}}/bin/logstash -f {{log_agent_conf_dir}}/agent.conf -l {{logstash_agent_log_file}}